---
layout: none
highlights:
  - number: 1
    unit: Day
  - number: 120+
    unit: Attendees
  - number: Awesome
    unit: Talks + Keynote
  - number: OpenSpace
    unit: Community
reasons:
  - Meet maintainers of Keycloak
  - Meet other developers extending Keycloak
  - Discover best-practices for operating Keycloak
  - Learn from others using Keycloak
  - Grow your Keycloak related network
  - Free amazing Keycloak DevDay gift!
included:
  - icon: user-tie
    text: Many talks from industry-leading and community speakers
  - icon: people-carry
    text: Access to workshops (we are currently evaluating a hands-on workshop the day before the event)
  - icon: glass-cheers
    text: Afterwork-party
  - icon: utensils
    text: FREE drinks, refreshments, coffee and lunch
  - icon: gift
    text: FREE Keycloak Gift for all participants
---
<!DOCTYPE html>
<html lang="en"> 
<head>
	<title>{{site.title}}</title>
	
	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{{site.description}}">
	<link rel="shortcut icon" href="./favicon.ico"> 

	<!-- OpenGraph -->
	<meta property="og:url" content="{{site.url}}">
	<meta property="og:type" content="website">
	<meta property="og:title" content="{{site.title}}">
	<meta property="og:description" content="{{site.description}}">
	<meta property="og:image" content="{{site.url}}/assets/images/keycloak-dev-day-wallpaper.png">
	
	<!-- Google Fonts -->
	<link href="./assets/fonts/fonts.css" rel="stylesheet">
	
	<!-- FontAwesome JS-->
	<script defer src="./assets/fontawesome/js/all.min.js"></script>

	<!-- Theme CSS -->  
	<link id="theme-style" rel="stylesheet" href="./assets/css/theme.css">

	<!-- Pretix CSS -->
	<link rel="stylesheet" type="text/css" href="{{site.pretix}}/widget/v1.css">

</head> 

<body>    
	{% include header.html %}
	
	<div id="hero-block" class="hero-block">
		<div id="hero-carousel" class="hero-carousel carousel slide carousel-fade" data-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item-1 carousel-item active"></div>
				<div class="carousel-item-2 carousel-item"></div>
				<div class="carousel-item-3 carousel-item"></div>
			</div>
		</div>
		<div class="hero-block-mask"></div>
		<div class="container">
			<div class="hero-text-block">
				<h1 class="hero-heading mb-2">Keycloak DevDay 2025</h1>
				<div class="hero-meta mb-3">
					<i class="far fa-calendar-alt me-2"></i>March 6, 2025 
					<i class="fas fa-map-marker-alt mx-2"></i>Darmstadt, Germany 
					<!--<i class="fas fa-clock mx-2"></i>9am - 5pm-->
				</div>
				<div class="hero-intro mb-4">The Community Class Reunion for <br>Keycloak Developers</div>
				<div class="hero-cta">
				{% if site.showTicketSale %}
				<a class="btn btn-primary btn-lg me-2 mb-2" href="{{site.pretix}}" target="_blank">Get Tickets</a>
				{% endif %}
				{% if site.showCfp %}
				<a class="btn btn-secondary btn-lg me-2 mb-2 scrollto" href="#cfp-section" >>>> Call for Papers <<<</a>
				{% endif %}
				</div>
			</div>
		</div>
	</div>
	
	<div class="stats-block theme-bg-primary text-white py-4 text-center">
		<div class="container">
			<div class="row">
				{% for hl in page.highlights %}
                <div class="col-6 col-md-3">
					<div class="item">
						<div class="number">{{hl.number}}</div>
						<div class="unit">{{hl.unit}}</div>
					</div>
				</div>
                {% endfor %}
			</div>
		</div>
	</div>

	{% include about.html %}

	{% if site.showCfp %}
	{% include cfp.html %}
	{% endif %}

	{% include speakers.html %}
	
	<div class="container">
		<hr>
	</div>

	{% comment %}
	{% include schedule.html %}
	{% endcomment %}

	{% include tickets.html %}

	{% include venue.html %}

	{% include sponsors.html %}

	{% include footer.html %}

	<!-- Modal Speaker -->
	{% include speaker-modal.html %}
	{% include talk-modal.html %}
	
	<!-- Javascript -->          
	<script src="./assets/plugins/popper.min.js"></script>
	<script src="./assets/plugins/bootstrap/js/bootstrap.min.js"></script>  
	<script src="./assets/plugins/smoothscroll.min.js"></script>
	<script src="./assets/plugins/gumshoe/gumshoe.polyfills.min.js"></script> 
	<script src="./assets/js/main.js"></script>  
	<script type="text/javascript" src="https://pretix.eu/widget/v1.en.js" async></script>

</body>
</html> 

