<section id="about-section" class="about-section section theme-bg-light">
    <div class="container">
        <h3 class="section-heading text-center mb-3">About Keycloak DevDay</h3>
        <div class="section-intro single-col-max mx-auto mb-4">Keycloak is an awesome open source identity and access management solution driven by a huge community and with strong support from Red Hat. The Keycloak Developer Day invites everyone involved using Keycloak to provide its value to customers and employees in using digital products and services! Meet maintainers, extension-developers, operators and others to talk about Keycloak a full day!</div>
        <div class="benefits-list text-center mb-3">
            <h4 class="text-center mb-4">Why Join Us</h4>
            <ul class="list-unstyled text-start d-inline-block">
                {% for reason in page.reasons %}
                <li><i class="fas fa-check-circle me-2"></i>{{reason}}</li>
                {% endfor %}
            </ul>
        </div><!--//benefits-list-->
        {% if site.showTicketSale %}
        <div class="event-countdown text-center mb-3">		   
            <h4 class="countdown-intro mb-2 text-center mb-3">Event Starts In:</h4>
            <div id="countdown-box" class="countdown-box"></div>
        </div><!--//event-countdown-->
        <div class="about-cta text-center mb-5"><a class="btn btn-secondary btn-lg mb-5" href="{{site.pretix}}" target="_blank">Get Your Ticket Today</a></div>
        {% endif %}
    </div><!--//container-->
</section><!--//about-section-->