<section id="cfp-section" class="cfp-section section">
    <div class="container">
        <h3 class="section-heading text-center mb-3">Call for Papers</h3>
        <div class="section-intro text-center single-col-max mx-auto">
            <p>
                We are looking for your contribution to Keycloak DevDay 2025!
            </p><p>
                If you want to give a proper talk at an awesome Community Conference, don't wait an submit your proposal!
                The topic of your talk should be anything Keycloak related.
                But keep in mind, that all the participants already know Keycloak, there's no need to give some beginner/introduction talks.
                Also community-activities for our Open-Space/Unconference format can be submitted, e.g. discussions, Q&A sessions, etc.
            </p><p>
                As a speaker, you will get free access to the event.
                Please understand, that we can't cover any travel/accommodation costs, as we are a community conference and try to keep costs as low as possible.
                Thanks.
            </p>
            <p class="fw-bold">
                >>> CfP starts at August, 15th 2024. Link will be published here. <<<
            </p>
        </div>
    </div>
</section>