<footer class="footer py-5 theme-bg-primary">
    <div class="container text-center">
        
        <ul class="footer-links list-inline mx-auto mb-4">
            <li class="list-inline-item"><a href="https://berlincodeofconduct.org/" target="_blank">Code of Conduct</a></li>
            <li class="list-inline-item">|</li>
            <li class="list-inline-item"><a href="mailto:info@keycloak-day.dev">Contact</a></li>
            <li class="list-inline-item">|</li>
            <li class="list-inline-item me-0"><a href="https://www.n-k.de/imprint" target="_blank">Imprint</a></li>
            <li class="list-inline-item">|</li>
            <li class="list-inline-item me-0"><a href="https://www.n-k.de/privacy" target="_blank">Privacy</a></li>
        </ul><!--//footer-link-->
        
         <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
        <small class="copyright">Designed with <i class="fas fa-heart" style="color: #EC645E;"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>
        
    </div><!--//container-->	    
</footer>