<section id="pre-conf-event-section" class="pre-conf-event-section section">
    <div class="container">
        <h3 class="section-heading text-center mb-6">Pre-Conf Event</h3>
        <div class="section-intro text-center mx-auto">
            <p class="col-md-12 fs-6">
                We are delighted to kick off this year's Keycloak Dev Day 2025 with an exciting pre-event: a <b>hackathon</b> all about Keycloak!
                This hackathon will take place the day before Dev Day (5 March 2025) from 10:00 am.
                It offers all participants who arrive early a great opportunity to exchange ideas with the community, collaborate and realize ideas even before the main event.
            </p>
            <p class="col-md-12 fs-6">
                To take part in the hackathon, please register on our registration page - we look forward to seeing you and your ideas!
            </p>
            <p><button class="btn btn-primary btn-lg" type="button">Register now!</button></p>
            <p><div id="myCarousel" class="carousel slide mb-6 fs-6" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Aim and target group of the hackathon"></button>
                        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Topics"></button>
                        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Prerequisites for participation"></button>
                        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Location"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <svg class="bd-placeholder-img" width="100%" height="300px" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
                            <div class="container">
                                <div class="carousel-caption text-end">
                                    <h4 class="text-primary">Aim and target group of the hackathon</h4>
                                    <p class="opacity-75">The hackathon is aimed at anyone who is interested in Keycloak and wants to make a contribution. Whether you have already submitted several pull requests or are just entering the world of Keycloak - everyone is welcome! The goal? To improve Keycloak! Whether you are working on new features and bug fixes, improving the documentation, promoting multilingualism or organizing issues in the issue tracker - everything counts.
                                        We especially want to motivate people who may not have actively contributed so far. We offer the perfect opportunity to make an initial contribution, be it through code, documentation or organizational work.</p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <svg class="bd-placeholder-img" width="100%" height="300px" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
                            <div class="container">
                                <div class="carousel-caption text-end">
                                    <h4 class="text-primary">Topics</h4>
                                    <p>The topics of the hackathon are designed by the participants themselves.
                                        Whether you have an innovative idea, want to fix a specific bug or want to work on improving the documentation - bring your suggestions! In the morning (from 10:00 am) the ideas will be pitched and the participants will gather on the topics offered.
                                        For those who arrive later, there will be another entry point from 13:30.</p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <svg class="bd-placeholder-img" width="100%" height="300px" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
                            <div class="container">
                                <div class="carousel-caption text-end">
                                    <h4 class="text-primary">Prerequisites for participation</h4>
                                    <p>Fun and motivation! To work with the Keycloak source code, your laptop with a working environment is required.
                                        We will put together more details, which will be published here.
                                        Even without a laptop, someone with a laptop will be found and you can work with them as a sparring partner.</p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <svg class="bd-placeholder-img" width="100%" height="300px" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
                            <div class="container">
                                <div class="carousel-caption text-end">
                                    <h4 class="text-primary">Location</h4>
                                    <p>Will be announced in January, but within easy reach of the venue.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </p>
        </div>
    </div>
</section>
