<section id="speakers-section" class="speakers-section section">
    <div class="container">
        <h3 class="section-heading text-center mb-3">Speakers</h3>
        <div class="section-intro text-center single-col-max mx-auto mb-5">
            We are delighted to be able to present you with a high-quality speaker line-up consisting of leading Keycloak developers, maintainers & experts.
        </div>
        <div class="row">
            {% include speaker-info.html %}
        </div><!--//row-->
        {% if site.showTicketSale %}
        <div class="speakers-cta text-center py-3"><a class="btn btn-primary btn-lg" href="{{site.pretix}}" target="_blank">Get Tickets</a></div>
        {% endif %}
    </div><!--//container-->
    
</section><!--//speakers-section-->