{% for spk in site.data.speakers %}
<div class="modal modal-speaker modal-speaker-{{spk.key}}" id="modal-speaker-{{spk.key}}" tabindex="-1" role="dialog" aria-labelledby="speaker-{{spk.key}}-ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="speaker-{{spk.key}}-ModalLabel" class="modal-title sr-only">{{spk.name}}</h4>
            </div>
            <div class="modal-body p-0">
                <div class="theme-bg-light p-5">
                    <div class="row">
                        <div class="col-12 col-md-auto text-center">
                            <img class="profile-image mb-3 mb-md-0 me-md-4 rounded-circle mx-auto" src="./assets/images/speakers/{{spk.img}}" alt="{{spk.name}}" />
                        </div>
                        <div class="col text-center text-md-start mx-auto">
                            <h2 class="name mb-2">{{spk.name}}</h2>
                            <div class="meta">{{spk.title}}</div>
                            <div class="meta mb-2">{{spk.company}}</div>
                            <ul class="social-list list-inline mb-0">
                                {% for social in spk.social %}
                                <li class="list-inline-item">
                                    <a  href="{{social.url}}" target="_blank"><i class="fab fa-{{social.icon}} fa-fw"></i></a>
                                </li>
                                {% endfor %}
                            </ul><!--//social-list-->
                        </div><!--//col-->
                    </div><!--//row-->
                </div>
                <div class="desc p-4 p-lg-5">
                    <p>{{spk.bio}}</p>
                </div>
            </div><!--//modal-body-->
        </div><!--//modal-content-->
    </div><!--//modal-dialog-->
</div><!--//modal-->
{% endfor %}
