{% for spk in site.data.speakers %}
<div class="col-6 col-lg-3 mb-4">
    <div class="card rounded-0">
        <a href="#modal-speaker-{{spk.key}}" data-bs-toggle="modal" data-bs-target="#modal-speaker-{{spk.key}}"><img src="./assets/images/speakers/{{spk.img}}" class="card-img-top rounded-0" alt="{{spk.name}}"></a>
        <div class="card-body">
            <h5 class="card-title mb-2">{{spk.name}}</h5>
            <div class="card-text mb-3">
                <div class="meta">{{spk.title}}</div>
                <div class="meta">{{spk.company}}</div>
            </div><!--//card-text-->
            <a href="#modal-speaker-{{spk.key}}" data-bs-toggle="modal" data-bs-target="#modal-speaker-{{spk.key}}">Read more &rarr;</a>
        </div><!--//card-->
        <div class="card-footer text-muted">
            <ul class="social-list list-inline mb-0">
                {% for social in spk.social %}
                <li class="list-inline-item">
                    <a  href="{{social.url}}" target="_blank"><i class="fab fa-{{social.icon}} fa-fw"></i></a>
                </li>
                {% endfor %}
            </ul><!--//social-list-->
        </div>
    </div><!--//card-->
</div><!--//col-->
{% endfor %}
