<section id="sponsors-section" class="sponsors-section section">
    <div class="container">
        <h3 class="section-heading text-center mb-5">A big 'Thank You' to our Sponsors &amp; Partners</h3>
        <div class="row logos justify-content-center align-items-center">
            {% for sponsor in site.data.sponsors %}
            <div class="logo-item col-6 col-md-4 col-lg-3 px-5 py-3">
                <a href="{{sponsor.url}}" target="_blank">
                    <img src="./assets/images/logos/{{sponsor.logo}}" alt="{{sponsor.name}}" title="{{sponsor.name}}">
                </a>
            </div>
            {% endfor %}
        </div>
        <div class="section-intro text-center single-col-max mx-auto mt-5">
            If you want to become a partner of Keycloak DevDay 2025 and support us with a sponsorship, please get in touch and send an email to
            <a href="mailto:info@keycloak-day.dev?subject=Keycloak%20DevDay%202025%20Sponsoring" class="text-decoration-underline">info@keycloak-day.dev</a>
        </div>
    </div>
</section>