<section id="sponsors-section" class="sponsors-section section">
    <div class="container">
        <h3 class="section-heading text-center mb-5">A big 'Thank You' to our Sponsors &amp; Partners</h3>
        <div class="row logos justify-content-center align-items-center">
            {% for sponsor in site.data.sponsors %}
            <div class="logo-item col-6 col-md-4 col-lg-2">
                <a href="{{sponsor.url}}" target="_blank">
                    <img src="/assets/images/logos/{{sponsor.logo}}" alt="{{sponsor.name}}">
                </a>
            </div>
            {% endfor %}
        </div><!--//row-->
    </div><!--//container-->
</section><!--//sponsors-section-->