<section id="sponsors-section" class="sponsors-section section">
    <div class="container">
        <h3 class="section-heading text-center mb-5">A big 'Thank You' to our Sponsors &amp; Partners</h3>
        <div class="row logos justify-content-center align-items-center">
            {% for sponsor in site.data.sponsors %}
            <div class="logo-item col-6 col-md-4 col-lg-3 px-5 py-3">
                <a href="{{sponsor.url}}" target="_blank">
                    <img src="./assets/images/logos/{{sponsor.logo}}" alt="{{sponsor.name}}" title="{{sponsor.name}}">
                </a>
            </div>
            {% endfor %}
        </div>
        <h3 class="section-heading text-center mx-auto mt-5">
            Keynote-Sponsor
        </h3>
        <div class="row logos justify-content-center align-items-center">
            <div class="logo-item col-6 col-md-4 col-lg-3 px-5 py-3">
                <a href="https://www.redhat.com/" target="_blank">
                    <img src="./assets/images/logos/Logo-Red_Hat-A-Standard-RGB.svg" alt="Red Hat Inc." title="Red Hat Inc.">
                </a>
            </div>
        </div>
    </div>
</section>