<section id="venue-section" class="venue-section section  theme-bg-primary text-white">
    <div class="container">
        <h3 class="section-heading text-center mb-5 text-white">Venue</h3>
        <div class="row gx-5 py-lg-5">
            <div class="col-12 col-lg-7 h-100">
                <div class="desc">
                    <h4 class="text-white mb-3">Location</h4>
                    <p class="text-white">
                        greet Hotel Darmstadt<br/>
                        Hilpertstrasse 27<br/>
                        64295 Darmstadt<br/>
                        Germany<br/>
                        <br/>
                        <a href="https://www.greethoteldarmstadt.com" target="_blank" rel="noopener noreferrer external" class="text-white">https://www.greethoteldarmstadt.com</a>
                    </p>
                    <h4 class="text-white mt-3 mt-lg-5 mb-3">Directions</h4>
                    <p class="text-white">
                        Please use <a href="https://maps.app.goo.gl/ae7Eu5jrtqvZqec36" target="_blank" rel="noopener noreferrer external" class="text-white">Google Maps</a> to find out how to get there.
                    </p>
                    <a href="https://maps.app.goo.gl/ae7Eu5jrtqvZqec36" target="_blank" rel="noopener noreferrer external" class="btn btn-ghost mb-3">Google Maps</a>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2571.907793885015!2d8.623464176522761!3d49.86297667148587!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47bd71e25506eb97%3A0x605ddc57c19823aa!2sGreet%20Hotel%20Darmstadt!5e0!3m2!1sde!2sde!4v1722888336131!5m2!1sde!2sde" width="80%" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <h4 class="text-white mb-3 mt-3 mt-lg-5">Facilities &amp; Accommodations</h4>
                    <p>Once the ticket sales starts, we'll offer a limited amount of rooms with a special rate.
                </div>
            </div>
            <div class="col-12 col-xl-3 col-lg-4 offset-lg-1 position-relative h-100 mt-5 mt-lg-0">
                <div class="figures-holder">
                    <div class="figure figure-1"><img class="shadow" src="./assets/images/venue/greet1.jpg" alt=""></div>
                    <div class="figure figure-2"><img class="shadow" src="./assets/images/venue/greet2.jpg" alt=""></div>
                    <div class="figure figure-3"><img class="shadow" src="./assets/images/venue/greet3.jpg" alt=""></div>
                    <div class="figure figure-4"><img class="shadow" src="./assets/images/venue/greet4.jpg" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</section>